src/conf/xml-resources/web-service-references/TransactionWebServices/wsdl/localhost_8084/PayportExpressWeb/TransactionWebServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://web_services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://web_services/" name="TransactionWebServices">
<types>
<xsd:schema>
<xsd:import namespace="http://web_services/" schemaLocation="http://136.172.221.198:8084/PayportExpressWeb/TransactionWebServices?xsd=1" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://136.172.221.198:8084/PayportExpressWeb/TransactionWebServices?xsd=2" />
</xsd:schema>
</types>
<message name="insertNewTransaction">
<part name="parameters" element="tns:insertNewTransaction" />
</message>
<message name="insertNewTransactionResponse">
<part name="parameters" element="tns:insertNewTransactionResponse" />
</message>
<message name="selectTransaction">
<part name="parameters" element="tns:selectTransaction" />
</message>
<message name="selectTransactionResponse">
<part name="parameters" element="tns:selectTransactionResponse" />
</message>
<message name="selectAllTransactions">
<part name="parameters" element="tns:selectAllTransactions" />
</message>
<message name="selectAllTransactionsResponse">
<part name="parameters" element="tns:selectAllTransactionsResponse" />
</message>
<message name="verifyTransaction">
<part name="parameters" element="tns:verifyTransaction" />
</message>
<message name="verifyTransactionResponse">
<part name="parameters" element="tns:verifyTransactionResponse" />
</message>
<message name="removeTransaction">
<part name="parameters" element="tns:removeTransaction" />
</message>
<message name="removeTransactionResponse">
<part name="parameters" element="tns:removeTransactionResponse" />
</message>
<message name="sendMoney">
<part name="parameters" element="tns:sendMoney" />
</message>
<message name="sendMoneyResponse">
<part name="parameters" element="tns:sendMoneyResponse" />
</message>
<message name="withdrawMoney">
<part name="parameters" element="tns:withdrawMoney" />
</message>
<message name="withdrawMoneyResponse">
<part name="parameters" element="tns:withdrawMoneyResponse" />
</message>
<portType name="TransactionWebServices">
<operation name="insertNewTransaction">
<input wsam:Action="http://web_services/TransactionWebServices/insertNewTransactionRequest" message="tns:insertNewTransaction" />
<output wsam:Action="http://web_services/TransactionWebServices/insertNewTransactionResponse" message="tns:insertNewTransactionResponse" />
</operation>
<operation name="selectTransaction">
<input wsam:Action="http://web_services/TransactionWebServices/selectTransactionRequest" message="tns:selectTransaction" />
<output wsam:Action="http://web_services/TransactionWebServices/selectTransactionResponse" message="tns:selectTransactionResponse" />
</operation>
<operation name="selectAllTransactions">
<input wsam:Action="http://web_services/TransactionWebServices/selectAllTransactionsRequest" message="tns:selectAllTransactions" />
<output wsam:Action="http://web_services/TransactionWebServices/selectAllTransactionsResponse" message="tns:selectAllTransactionsResponse" />
</operation>
<operation name="verifyTransaction">
<input wsam:Action="http://web_services/TransactionWebServices/verifyTransactionRequest" message="tns:verifyTransaction" />
<output wsam:Action="http://web_services/TransactionWebServices/verifyTransactionResponse" message="tns:verifyTransactionResponse" />
</operation>
<operation name="removeTransaction">
<input wsam:Action="http://web_services/TransactionWebServices/removeTransactionRequest" message="tns:removeTransaction" />
<output wsam:Action="http://web_services/TransactionWebServices/removeTransactionResponse" message="tns:removeTransactionResponse" />
</operation>
<operation name="sendMoney">
<input wsam:Action="http://web_services/TransactionWebServices/sendMoneyRequest" message="tns:sendMoney" />
<output wsam:Action="http://web_services/TransactionWebServices/sendMoneyResponse" message="tns:sendMoneyResponse" />
</operation>
<operation name="withdrawMoney">
<input wsam:Action="http://web_services/TransactionWebServices/withdrawMoneyRequest" message="tns:withdrawMoney" />
<output wsam:Action="http://web_services/TransactionWebServices/withdrawMoneyResponse" message="tns:withdrawMoneyResponse" />
</operation>
</portType>
<binding name="TransactionWebServicesPortBinding" type="tns:TransactionWebServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="insertNewTransaction">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="selectTransaction">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="selectAllTransactions">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="verifyTransaction">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="removeTransaction">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="sendMoney">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="withdrawMoney">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="TransactionWebServices">
<port name="TransactionWebServicesPort" binding="tns:TransactionWebServicesPortBinding">
<soap:address location="http://136.172.221.198:8084/PayportExpressWeb/TransactionWebServices" />
</port>
</service>
</definitions>